@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Здесь мы храним все фото загруженные нашим трудолюбивым ботом!</p>
    <p>Просто добавьте <a href="#">его</a> в любой канал и будет стараться загружать все фотки и подписи.</p>
    <p>Это тестовое задание - не нагружайте его сильно.. он старается.</p>
</div>
